@page
@model KoiFarmShop.WebApplication.Pages.Product.DeleteModel
@{
    Layout = "_ManagerLayout";
    ViewData["Title"] = "Xóa sản phẩm";
}

<h3>Bạn có chắc muốn xóa sản phẩm này không?</h3>
<div>
    <h4>Thông tin sản phẩm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.KoiName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.KoiName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Origin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Origin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.BreedType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.BreedType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Personality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Personality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.DailyFeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.DailyFeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.ScreeningRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.ScreeningRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.HealthStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.HealthStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Awards)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Awards)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.PricePerKoi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.PricePerKoi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.PricePerBatch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.PricePerBatch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.ImageURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.ImageURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Category.CategoryName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="KoiFish.KoiId" />
        <input type="submit" value="Xóa sản phẩm" class="btn btn-danger" />
        <a asp-page="/manager/Products" class="btn btn-outline-secondary">Quay lại</a>
    </form>
</div>
